<a href="https://colab.research.google.com/github/phaneena/Learn.py-/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
 
 
print(df1.isnull())
print(df1.dropna(axis=0))

                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1.fillna(value=20))

                   A         B         C         D     F     E
2021-01-01  0.677705  0.674006  0.289862  0.040805  20.0   1.0
2021-01-02 -2.137175  0.107826 -1.968529 -0.559676  20.0   1.0
2021-01-03 -0.813679  0.443624  0.284854  0.012818  20.0  20.0
2021-01-04 -0.286279 -0.950493 -0.149111 -0.885790  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
pieces=[df[:3],df[3:8]]
print(pieces)
print(pd.concat(pieces))
print(pd.concat(pieces,axis=1))
a=df[:3]
b=df[3:8]
print(pd.concat([a,b]))

[          0         1         2         3
0 -0.281911 -0.143970  0.121165 -0.618276
1  0.153024  2.377406  1.051720  0.194243
2  0.106725 -1.557324  0.216186 -0.759133,           0         1         2         3
3 -1.448084  0.823988  1.130237 -1.138946
4 -0.061490  1.653460 -0.449246 -0.734402
5 -0.025045  0.289450  0.304674 -1.286997
6 -0.769291  0.007322 -0.835530 -0.193694
7 -1.393239  0.072453 -1.321719  1.749056]
          0         1         2         3
0 -0.281911 -0.143970  0.121165 -0.618276
1  0.153024  2.377406  1.051720  0.194243
2  0.106725 -1.557324  0.216186 -0.759133
3 -1.448084  0.823988  1.130237 -1.138946
4 -0.061490  1.653460 -0.449246 -0.734402
5 -0.025045  0.289450  0.304674 -1.286997
6 -0.769291  0.007322 -0.835530 -0.193694
7 -1.393239  0.072453 -1.321719  1.749056
          0         1         2  ...         1         2         3
0 -0.281911 -0.143970  0.121165  ...       NaN       NaN       NaN
1  0.153024  2.377406  1.051720  ...       NaN       NaN       NaN
2  0.106725 -1.557324  0.216186  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.823988  1.130237 -1.138946
4       NaN       NaN       NaN  ...  1.653460 -0.449246 -0.734402
5       NaN       NaN       NaN  ...  0.289450  0.304674 -1.286997
6       NaN       NaN       NaN  ...  0.007322 -0.835530 -0.193694
7       NaN       NaN       NaN  ...  0.072453 -1.321719  1.749056

[8 rows x 8 columns]
          0         1         2         3
0 -0.281911 -0.143970  0.121165 -0.618276
1  0.153024  2.377406  1.051720  0.194243
2  0.106725 -1.557324  0.216186 -0.759133
3 -1.448084  0.823988  1.130237 -1.138946
4 -0.061490  1.653460 -0.449246 -0.734402
5 -0.025045  0.289450  0.304674 -1.286997
6 -0.769291  0.007322 -0.835530 -0.193694
7 -1.393239  0.072453 -1.321719  1.749056