<a href="https://colab.research.google.com/github/phaneena/Learn.py-/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
print(df.groupby(["A"]).sum())
print(df.nsmallest(3,["D"]))
print(df.nlargest(3,["D"]))

            C         D
A
bar  0.349478 -2.294303
foo  1.346336  2.679559
     A      B         C         D
5  bar    two  0.974456 -0.995380
1  bar    one -0.755044 -0.855821
3  bar  three  0.130066 -0.443103
     A      B         C         D
2  foo    two  0.259447  1.556561
0  foo    one  0.853161  1.181789
7  foo  three  1.534152  0.804121

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print(df)
print(df.to_csv('data.csv'))
print(pd.read_csv('data.csv',index_col=0))
file_name='datasheet.xlsx'
print(df.to_excel(file_name))
print(pd.read_excel('datasheet.xlsx',index_col=0))

     A      B         C         D
0  foo    one  0.410020  0.591701
1  bar    one -0.236909  1.555689
2  foo    two  0.353203  0.982317
3  bar  three -0.301869 -0.593436
4  foo    two  0.221086 -1.323474
5  bar    two -1.307728  2.745778
6  foo    one -1.266102  0.804243
7  foo  three  0.199565 -0.114990
None
     A      B         C         D
0  foo    one  0.410020  0.591701
1  bar    one -0.236909  1.555689
2  foo    two  0.353203  0.982317
3  bar  three -0.301869 -0.593436
4  foo    two  0.221086 -1.323474
5  bar    two -1.307728  2.745778
6  foo    one -1.266102  0.804243
7  foo  three  0.199565 -0.114990
None
     A      B         C         D
0  foo    one  0.410020  0.591701
1  bar    one -0.236909  1.555689
2  foo    two  0.353203  0.982317
3  bar  three -0.301869 -0.593436
4  foo    two  0.221086 -1.323474
5  bar    two -1.307728  2.745778
6  foo    one -1.266102  0.804243
7  foo  three  0.199565 -0.114990